@import '../base/tipografia';
@import '../base/colors';

.notificacion{
    background:map-get($colors , 'color0' );
    font-family: $textos;
}

.cargando{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 11;
    height: 10em;
    i{
        font-size: 1rem;
        animation: cargar 4s infinite;
    }
}

@keyframes cargar {
    100% {transform: rotate(360deg);}
}