/*paleta de colores*/
$color0: #000000;
$color1: #474747;
$color2:#DFDFDF; 

/*nana osaki*/
$color3:#D30140;
$color4:#845B8E;
$color5:#0D060B;

/*nana komatsu*/
$color6:#F991B3;
$color7:#FCF4E3;
$color8: #A07591;

/*ren*/
$color9:#948B83;
$color10:#050002;
$color11:#F0E8E8;

/*nobu*/
$color12:#D0BDD1;
$color13:#7C729A;
$color14:#D7B591;

/*yasu*/
$color15:#590207;
$color16:#100202;
$color17:#5B5756;

/*shin*/
$color18:#412863;
$color18:#9BBECF;
$color19:#C0D1F1;

/*extras*/
$color20:#7419B0;
$color21:#A62349;

//map
$colors:(
    "color0":$color0,
    "color1":$color1,
    "color2":$color2,
    "color3":$color3,
    "color4":$color4,
    "color5":$color5,
    "color6":$color6,
    "color7":$color7,
    "color8":$color8,
    "color9":$color9,
    "color10":$color10,
    "color11":$color11,
    "color12":$color12,
    "color13":$color13,
    "color14":$color14,
    "color15":$color15,
    "color16":$color16,
    "color17":$color17,
    "color18":$color18,
    "color19":$color19,
    "color20":$color20,
    "color21":$color21,
);

h1, h2, small{
    color: map-get($colors, "color0" );
}

nav a{
    color: map-get($colors, "color1" );
}