/*paleta de colores*/
$color0: #000000;
$color1: #474747;
$color2:#DFDFDF; 

/*extras*/
$color20:#7419B0;
$color21:#A62349;
$color22: #bebebe2c;

//map
$colors:(
    "color0":$color0,
    "color1":$color1,
    "color2":$color2,
    "color20":$color20,
    "color21":$color21,
    "color22": $color22,
);


body{
    background-color:map-get($colors, "color22" );
}

h1, h2, small{
    color: map-get($colors, "color0" );
}

nav a{
    color: map-get($colors, "color1" );
}

