.section--nana{
    .galeria{
        width: 70%;
        max-width: 700px;
        .galeria_slider{
            display: flex;
            width:700% ;
            height: 40rem;
            .slide{
                width:100% ;
                img{
                    height:35.5rem;
                    width: auto;
                }
            }
        }
    }
}

.section__div--busqueda{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;

    .buscar{
        align-self: baseline;
        width: 350px;
        height: 35px;
        padding: 0.2rem 0.5rem;
        border-style: none;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        //transition: all 0.6s ease;
        box-shadow:  20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
    }
}

.section--home{
    .galeria{
        display: flex;
        justify-content: center;
        img{
            height:40rem;
            width: auto;
        }
    }
}

.section--about{
    .galeria{
        display: flex;
        justify-content: center;
        img{
            height:40rem;
            width: auto;
        }
    }
}